:root {
    --color1: #730000;
    --color2: #882300;
    --color3: #dffed8;
    --font1: 'Karla', sans-serif;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--font1);
}



header {
    background-color: #314e99;
    
}

header .header__logo__hamburger {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    align-items: center;
}

header .header__logo img {
    width: 100px;
    height: 100px;
}

header .hambuger {
    background-color: transparent;
    color: #fff;
    border: none;
    font-size: 2rem;
}

#hamburger-button span:nth-child(2){
    display: none;
}

.open {
    display: block;
}

nav ul {
    display: none;
    list-style: none;
}

nav ul li a {
    display: block;
    padding: .8rem 2vw;
    text-decoration: none;
    color: #fff;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
}

.header__date {
    width: 80%;
    margin: 0 auto;
    background-color: #8cb8ff;
    box-sizing: content-box;
    padding: 15px;
}

main div {
    height: 200px;
    margin-top: 1rem;
    margin-bottom: 2rem;
    padding: 1rem;
    border: 1px solid;
    
}
.join {
    display: none;
}
.spotlight__container {
    height: 500px;
}
.spotlight__container div:nth-child(3){
    display: none;
}

footer {
    background-color: #314e99;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5rem;
    padding: 1rem;
}

footer div {
    width: 100%;
}

footer img{
    width: 170px;
    height: 170px;
}
.footer__project span {
    display: none;
}

footer p {
    padding: 5px;
    color: #fff;
}

.footer__para__info {
    border-bottom: 1px solid #fff;
}