:root {
    --principalColor: #314e99;
    --color1: #8cb8ff;
    --color2: #faeeff;
    --color3: #141a35;
    --color4: #77767c;
    --color5: #e2e2e2;
    --font1:'Karla', sans-serif;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--font1);
}

/** 
   ==== H E A D E R ====
**/

header {
    background-color: var(--principalColor);
    
}

header .header__logo__hamburger {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    align-items: center;
}

.header__hamburger a {
    background-color: #fff;
    color: #000;
    font-size: 1rem;
}

header .header__logo img {
    width: 100px;
    height: 100px;
}

header .hambuger {
    background-color: transparent;
    color: #fff;
    border: none;
    font-size: 2rem;
}

/**
    ==== HAMBURGUER AND ICONS ==== 
**/

.header__hamburger {
    width: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/** 
    ===== ICONS ===== 
**/

.header__hamburger a {
    background-color: transparent;
    text-decoration: none;
}
.icons{
    height: 1.5rem;
}

#hamburger-button span:nth-child(2){
    display: none;
}

.open {
    display: block;
}

/** 
    ===== NAV BAR  ===== 
**/

nav ul {
    display: none;
    list-style: none;
}

nav ul li a {
    display: block;
    padding: .8rem 2vw;
    text-decoration: none;
    color: #fff;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
}

.icons_nav {
    display: none;
}

.header__date {
    width: 80%;
    margin: 0 auto;
    background-color: var(--color1);
    box-sizing: content-box;
    padding: 15px;
}

/**
    ==== MAIN WRAPPER ====
**/

main {
    padding: 1rem;
}

main div {
    height: 200px;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 1rem;
    box-shadow: 2px 12px 15px -7px rgba(0,0,0,0.75);
 /** ----------------------- **/
}


/** 
    ====== MAIN WRAPPER CHILDREN =========
**/

/* === HERO === */
.hero {
    background-image: url(/images/buenos_aires_640.jpg);
    background-size: cover;
    background-position: center ;
}
.hero__content {
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    box-shadow: none;
}
.hero__content h3 {
    font-size: 1.5rem;
    color: var(--color1);
}

.hero__content button {
    width: 8.4rem;
    height: 3.5rem;
    padding: 0.2rem;
    background: var(--color1);
    color: #fff;
    border: none;
    border-radius: 1rem;
} /* ------------------- */

/* === EVENT === */
.event {
    background: var(--principalColor);
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.event p, .event h3, .event h6 {
    color: #fff;
    padding: 0.8rem;
}

.event h3 {
    font-size: 1.5rem;
    color: var(--color1);
}

.event a {
    font-size: 1rem;
    color: var(--color1);
}

.event p {
    font-size: 1.2rem;
    text-align: center;
}

.event h6 {
    font-size: 1.2rem;
}/* ------------------- */

/* === WEATHER === */
.weather {
    height: 24rem;
    background: var(--principalColor);
}

.weather h3 {
    text-align: center;
    color: var(--color1);
    font-size: 1.5rem;
}
.weather .weather__widget {
    height: 150px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid var(--color2);
    box-shadow: none;
}
.weather .weather__widget img {
    width: 6rem;
}

.weather__description {
    width: 140px;
    height: 110px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: none;
}
.weather__description p:nth-child(1) {
    padding: 0.3rem;
    font-size: 2.1rem;
    color: var(--color2);
}
.weather__description p:nth-child(2) {
    font-size: 1.2rem;
    color: var(--color2);
}

.weather__text {
    height: 6rem;
    display: grid;
    grid-template-columns: repeat(2 , 1fr);
    justify-items: center;
}
.weather__text p{
    font-size: 1.3rem;
    color: var(--color2);
}/* ------------------- */

/* === NEW RELEASE === */
.news_release {
    height: 250px;
    background: var(--principalColor);
}

.news_release h3 {
    text-align: center;
    font-size: 1.5rem;
    color: var(--color1);
    padding: 0.8rem;
}

.news_release p {
    text-align: center;
    font-size: 1.2rem;
    color: var(--color2);
}/* ------------------- */

/* === SPOTLIGHT ===*/
.spotlight__container {
    background: var(--principalColor);
    height: 50rem;
}
.spotlight__container div:nth-child(3){
    display: none;
}

.spotlight__container > div {
    box-shadow: none;
}
.spotlight {
    height: 350px;
}
.spotlight h3 {
    text-align: center;
    font-size: 1.5rem;
    color: var(--color1);
}
.spotlight p {
    text-align: center;
    font-size: 1.1rem;
    padding: 0.1rem;
    color: var(--color2);
}
.spotlight__transport, .sportlight__codePrimera{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.spotlight__transport h3{
    text-align: center;
}
#spotlight__info {
    height: 50px;
    padding-top: 0;
    display: block;
}/* ------------------- */

.join {
    display: none;
}/* ------------------- */

/** 
    ==== FOOTER ====
**/
footer {
    background-color: #314e99;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
}

footer div {
    width: 100%;
}

footer img{
    width: 170px;
    height: 170px;
}
.footer__project span {
    display: none;
}

footer p {
    padding: 5px;
    color: #fff;
}

.footer__para__info {
    border-bottom: 1px solid #fff;
}

.footer__para__info p i {
    color: red;
}


/** 
   ====== BANNER ======
**/

#banner {
    background: var(--color1);
    text-align: center;
}
