:root {
    
    --principalColor: #D5D5D5;
    --principalHover: #b9b4ac;
    --headerColor: #6D7993;
    --color1: #b35454;
    --opacity: rgb(179, 84, 84, .7);
    --color2: #faeeff;
    --color3: #141a35;
    --color4: #77767c;
    --color5: #e2e2e2;
    --dusty: #96858F;
    --lavendar: #6D7993;
    --overcast: #9099A2;
    --paper: #D5D5D5;
    --font1:'Karla', sans-serif;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--font1);
    background: #ececec;
}

h1,h2,h3,h4,h5,h6,p {
    color: #000;
}

/** 
   ==== H E A D E R ====
**/

header {
    max-width: 100%;
    background-color: var(--headerColor);
}

header .header__logo__hamburger {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    align-items: center;
}



.header__hamburger a {
    background-color: #fff;
    color: #000;
    font-size: 1rem;
}

header .header__logo img {
    width: 100px;
    height: 100px;
}

header .hambuger {
    background-color: transparent;
    border: none;
    font-size: 2rem;
}

.title {
    font-size: .8rem;
    font-weight: 700;
    color: #fff;
}

/**
    ==== HAMBURGUER AND ICONS ==== 
**/

.header__hamburger {
    width: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/** 
    ===== ICONS ===== 
**/

.header__hamburger a {
    background-color: transparent;
    text-decoration: none;
}
.icons{
    height: 1.5rem;
}
.icons:hover {
    transform: scale(1.2);
}

#hamburger-button span:nth-child(2){
    display: none;
}

.open {
    display: block;
}
.header__date p {
    font-weight: 700;
}



/** 
    ===== NAV BAR  ===== 
**/

nav ul {
    display: none;
    list-style: none;
}
nav ul li {
    transition-duration: .5s;
}


nav ul li a {
    display: block;
    padding: .8rem 2vw;
    text-decoration: none;
    text-align: center;
    color: #fff;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
}

.icons_nav {
    display: none;
}

.header__date {
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    margin: 0 auto;
    box-sizing: content-box;
    padding: 15px;
}

.header__date p {
    text-align: center;
    padding: .5rem;
    color: #fff;
}

/**
    ==== MAIN WRAPPER ====
**/

.first_main {
    padding: 1rem;
}

main div {
    height: 200px;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 1rem;
    box-shadow: 2px 12px 15px -7px rgba(0,0,0,0.75);
 /** ----------------------- **/
}


/** 
    ====== MAIN WRAPPER CHILDREN =========
**/

/* === HERO === */
.hero {
    position: relative;
    padding: 0;
}


figure {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
}

figure img{
   width: 100%;
   height: 100%;
}
.hero__content {
    position: absolute;
    top: 0;
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    box-shadow: none;
}
.hero__content h3 {
    background-color: var(--opacity);
    font-size: 1.5rem;
    color: #ffffff;

}

.hero__content button {
    width: 8.4rem;
    height: 2.8rem;
    padding: 0.2rem;
    background-color: var(--opacity);
    color: #fff;
    border: none;
    border-radius: 1rem;
    transform: .3s;
} 
.hero__content button:hover {
    background-color: var(--color1);
}


/* ------------------- */

/* === EVENT === */
.event {
    background: var(--principalColor);
    height: 220px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.event p, .event h3, .event h6 {
    color: #000;
    padding: 0.8rem;
}

.event h3 {
    font-size: 1.5rem;
    color: var(--color1);
}

.event a {
    font-size: 1rem;
    color: var(--color1);
}

.event p {
    font-size: 1.2rem;
    text-align: center;
    color: #000;
}

.event h6 {
    font-size: 1.2rem;
    color: #000;
}/* ------------------- */

/* === WEATHER === */
.weather {
    height: 24rem;
    background: var(--principalColor);
}

.weather h3 {
    text-align: center;
    color: var(--color1);
    font-size: 1.5rem;
}
.weather .weather__widget {
    height: 150px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid var(--color2);
    box-shadow: none;
    
}
.weather .weather__widget img {
    width: 6rem;
}

.weather__description {
    width: 140px;
    height: 110px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: none;
    
}
.weather__description p:nth-child(1) {
    padding: 0.3rem;
    font-size: 2.1rem;
    color: var(--color2);
}
.weather__description p:nth-child(2) {
    font-size: 1.2rem;
    color: var(--color2);
}

.weather__text {
    height: 6rem;
    display: grid;
    grid-template-columns: repeat(2 , 1fr);
    justify-items: center;
}
.weather__text p{
    font-size: 1.3rem;
}

#temperature{
    color: #000;
}
#description {
    color: #000;
}

.widget {
    height: 8rem;
    width: 8rem;
    
}

/* ------------------- */

/* === NEW RELEASE === */
.news_release {
    height: 250px;
    background: var(--principalColor);
}

.news_release h3 {
    text-align: center;
    font-size: 1.5rem;
    color: var(--color1);
    padding: 0.8rem;
}

.news_release p {
    text-align: center;
    font-size: 1.2rem;
    color: #000;
}/* ------------------- */

/* === SPOTLIGHT ===*/
.spotlight__container {
    background: var(--principalColor);
    height: 50rem;
}
.spotlight__container div:nth-child(3){
    display: none;
}

.spotlight__container > div {
    box-shadow: none;
}
.spotlight {
    height: 350px;
}
.spotlight h3 {
    text-align: center;
    font-size: 1.5rem;
    color: var(--color1);
}
.spotlight p {
    text-align: center;
    font-size: 1.1rem;
    padding: 0.1rem;
    color: #000;
}
.spotlight__transport, .sportlight__codePrimera{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.spotlight__transport h3{
    text-align: center;
    
}
#spotlight__info,
#spotlight__info2,
#spotlight__info3 {
    height: 50px;
    padding-top: 0;
    display: block;
}/* ------------------- */

.join {
    display: none;
}

/* ------------------- */

/** 
    ==== FOOTER ====
**/
footer {
    background-color: #6D7993;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
}

footer div {
    width: 100%;
}

footer img{
    width: 170px;
    height: 170px;
}
.footer__project span {
    display: none;
}

footer p {
    padding: 5px;
    color: #fff;
}

.footer__para__info {
    border-bottom: 1px solid #fff;
}

.footer__para__info p i {
    color: red;
}


/** 
   ====== BANNER ======
**/

#banner {
    background: var(--color1);
    text-align: center;
}



/** 
*
*

========= S E C O N D  P A G E =========

*
*
**/
.wrapper {
    display: none;
}

.wrapper-mobile {
    display: grid;
    grid-template-columns: repeat(1 , 1fr);
    justify-items: center;
    margin-top: 1rem;
    padding: 1rem;
    gap: 1.4rem;
}

.mobile-card {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    border: #417D7A 1px solid;
    border-radius: 1rem;
}

.mobile-card img {
    width: 100%;
    height: auto;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}
.mobile-card h3 {
    padding: .5rem;
    text-align: center;
}

.mobile-card p {
    padding: .5rem;
    text-align: center;
}

/** 
*
*

========= T H I R D  P A G E =========

*
*
**/


.names, .info {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    margin-bottom: 1rem;
}
.names label, input,
.info label, input,
.form2 label, input {
    padding: .3rem;
}
.form2 input {
    margin-left: 1rem;
}
#businesspo {
    grid-row: 2/3;
}

#phone {
    grid-row: 6/7;
}

#firstname {
    grid-row: 2/3;
}

.form2 {
    display: flex;
    flex-direction: column;
}
.form3 {
    display: flex;
    flex-direction: column;
}

.form3 textarea {
    width: 100%;
}

.vip {
    display: none;
}


/**
*
*
 ============ Discovery PAGE ============

*
*
**/

.companies__buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    gap: 1rem;
    
}

.companies__buttons div {
    width: 3.1rem;
    height: 3.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #314e99 ;
    cursor: pointer;
}

.btn__grid img{
    width: 1.8rem;
    margin: 1rem;
}

.btn__list img {
    width: 2.2rem;
    height: 2.3rem;
    margin: 1rem;
}

.companies__grid {
    width: 100%;
    padding: 1rem;
    display: grid;
    grid-template-columns: repeat(1 , 1fr);
    gap: 1.5rem;
    justify-items: center;
}

.company__div {
    width: 90%;
    height: 12rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 12px 15px -7px rgba(0,0,0,0.75);
}

/*
.company__div:nth-child(even) {
    background-color: beige;
}
*/

.companies_list {
    width: 100%;
    height: 11rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: .5rem;
}
.companies_list:nth-child(even) {
    background-color: beige;
}

.company__div p {
    text-align: center;
    padding: .4rem;
}

.company__div img {
    width: 6rem;
    height: 4rem;
    margin-top: .4rem;
    margin-bottom: .4rem;
}

.close {
    display: none;
}
.contact_img {
    display: flex;
    justify-content: center;
    margin-top: 3rem;
}

.contact_img img{
    width: 8rem;
    height: 7rem;
}

.contact {
    display: grid;
    grid-template-columns: repeat(1 , 1fr);
    justify-content: center;
    gap: 3rem;
}

.contact__form{
    width: 300px;
    height: 550px;
    margin: 3rem auto;
    background: #e6e6e6;
    border-radius: 8px;
    box-shadow: 0 0 40px -10px #000;
    padding: 20px 30px;
    box-sizing: border-box;
    position: relative;
}

.contact__form h2{
    margin: 10px 0;
    padding-bottom: 10px;
    width: 180px;
    color: #B35454;
    border-bottom: 3px solid #78788c
}
.contact__form input{
    width:100%;
    padding:10px;
    box-sizing:border-box;
    background:none;
    outline:none;
    resize:none;
    border:0;
    font-family:'Montserrat',sans-serif;
    transition:all .3s;
    border-bottom:2px solid #bebed2
}
.contact__form input:focus{
    border-bottom:2px solid #78788c
}
.contact__form p:before{
    content:attr(type);
    display:block;
    margin:28px 0 0;
    font-size:14px;
    color:#5a5a5a
}
.contact__form button{
    float:right;
    padding:8px 12px;
    margin:8px 0 0;
    font-family:'Montserrat',sans-serif;
    border:2px solid #78788c;
    background:0;
    color:#5a5a6e;
    cursor:pointer;
    transition:all .3s
}
.contact__form button:hover{
    background:#78788c;
    color:#fff
}
.contact__form div{
    content:'Hi';
    position:absolute;
    bottom:-40px;
    right:-10px;
    background:#50505a;
    color:#fff;
    width:320px;
    height: 70px;
    padding:16px 4px 16px 0;
    border-radius:6px;
    font-size:13px;
    box-shadow:10px 10px 40px -14px #000
}
.contact__form span{
    margin:0 5px 0 15px
}
.contact__us {
    width: 300px;
    height: 350px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
    margin: 2rem auto;
}

.contact__us div {
    width: 100%;
    height: 100px;
    box-shadow: none;
}

.contact__us h2 {
    width: 180px;
    margin: 10px 0;
    padding-bottom: 10px;
    color: #B35454;
    border-bottom: 3px solid #78788c
}
.contact__us h6 {
    color: #B35454;
    font-size: 1.1rem;
}

iframe {
    width: 100%;
    height: 300px;
    padding: 1rem;
}



