@media only screen and (min-width: 64em) {
    p {
        font-size: 1.2rem;
    }
    header .header__logo img {
        height: 250px;
        width: 250px;
    }
    
    header .header__hamburger {
        display: none;
    }
    
    header {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        justify-items: center;
        
    }

    /** ===== NAV BAR ===== **/
    nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    header nav ul {
        display: flex;
    }

    nav ul li a {
        font-size: 1.5rem;
        border: none;
    }
    
    .icons_nav {
        padding: 50px;
        display: flex;
        justify-content: space-between;
    }
    .icons_nav img {
        margin: 10px;
    }

    header .header__date {
        grid-column: 1 / 3;
        text-align: center;
    }
    main {
        height: 900px;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(3,1fr);
        gap: 2rem;
        padding: 2.5rem;
    }
    main div {
        height: auto;
    }
    .hero {
        height: auto;
        grid-column: 2 / 4;
        grid-row: 1 / 3;
    }
    .spotlight__container div:nth-child(3){
        display: block;
    }
    .spotlight__container {
        height: auto;
        display: grid;
        grid-template-columns: repeat(1 , 1fr);
        grid-column: 4 / 5;
        grid-row-start: 1;
        grid-row-end: 4;
    }
    .event {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row: 1 ;
    }
    .weather {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row: 2;
    }
    .join {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row: 3;
    }
    
    .news_release {
        grid-column:2 / 4;
        grid-row: 3;
    }
    footer {
        display: grid;
        grid-template-columns: repeat(2 1fr);
        align-items: center;
        justify-content: center;
    }

    footer .footer__img {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    footer .footer__para__info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border:  none;
    }
}
