@media only screen and (min-width: 64em) {

    h1, h2 ,h3 ,h4 ,h5 ,h6 , p {
        color: #000;
    }

    p {
        font-size: 1.2rem;
    }
    
    header .header__logo img {
        height: 250px;
        width: 250px;
    }
    
    header .header__hamburger {
        display: none;
    }
    .title {
        font-size: 1.1rem;
        color: var(--color2);
    }
    
    header {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        justify-items: center;
        
    }
    .header__date {
        display: flex;
        justify-content: space-evenly;
    }

    /** ===== NAV BAR ===== **/
    nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    #primaryNav {
        display: flex;
    }

    nav ul li a {
        font-size: 1.5rem;
        border: none;
        
    }
    nav ul li {
        border-radius: 2rem;
        transition-duration: .5s;
        
    }
    nav ul li:hover {
        background-color: #141a35;
        
    }
    .icons_nav {
        padding: 50px;
        display: flex;
        justify-content: space-between;
    }
    .icons_nav img {
        margin: 10px;
    }

    header .header__date {
        grid-column: 1 / 3;
        text-align: center;
    }

    main {
        width: 90%;
        height: 75rem;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(3,1fr);
        gap: 0.5rem;
        padding: 2rem;
        margin: 0 auto;
    }
    
    .hero {
        width: auto;
        height: auto;
        grid-column: 2 / 4;
        grid-row: 1 / 3;
    }
    .hero__content {
        height: 700px;
        position: absolute;
        top: 5%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .hero__content h3 {
        font-size: 2.2rem;
        position: absolute;
        left: 5%;
        text-shadow: 0px 5px 5px rgba(0,0,0,0.6);
    }
    .hero__content button {
        width: 12rem;
        position: absolute;
        bottom: 5%;
        right: 5%;
    }
    .spotlight__container div:nth-child(3){
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .spotlight__container {
        height: 65rem;
        display: grid;
        grid-template-columns: repeat(1 , 1fr);
        grid-column: 4 / 5;
        grid-row-start: 1;
        grid-row-end: 4;
    }
    
    
    .spotlight img {
        height: 7rem;
    }
    .spotlight {
        height: 18.7rem;
    }
    .event {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row: 1 ;
    }
    .weather {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row: 2;
    }
   
    .join {

        grid-column-start: 1;
        grid-column-end: 2;
        grid-row: 3;
    }
    .join p {
        color: #000;
    }
    
    .news_release {
        grid-column:2 / 4;
        grid-row: 3;
    }

    /* ===== F O O T E R ===== */
    footer {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        justify-content: center;
    }

    footer .footer__img {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    footer .footer__para__info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border:  none;
    }

    /** ========= SECOND PAGE - DISCOVER !!! ========== **/

    .wrapper {
        max-width: 100%;
        max-height: 48rem;
        display: grid;
        grid-template-columns: 50% 50%;
        gap: 1rem;
        margin: 3rem 0 3rem 0;
        /**border: 1px solid red;**/
    }

    .cont_images {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }


    .info_images ul {
        width: auto;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        gap: 10px;
    }

    .info_images ul li {
        padding: 1rem;
        height: fit-content;
        list-style: none;
        border-bottom: 1px solid rgb(184, 183, 183);
        font-family: 'Raleway', sans-serif;
        font-size: 1.1rem;
        transition-duration: 0.3s;
    }
    .info_images ul li:hover {
        color: #fff;
        background-color: rgb(122, 123, 123);
    }

    .imagenes_2 {
        margin: 0 auto;
        width: 850px;
        height: 600px;
        padding: 2rem;
    }

    .changingImage {
        width: 100%;
        height: 100%;
        box-shadow: 2px 12px 15px -7px rgba(0,0,0,0.75);
        transition: .3s;
    }
    .changingImage:hover {
        transform: scale(1.03);
    }
    #second {
        display: none;
    }

}

















/** ============== THIRD PAGE - JOIN PAGE ============== **/

.join-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.form1 {
    display: flex;
    flex-direction: column;
}

.form1 {
    display: flex;
    flex-direction: column;
}

.section_form {
    display: grid;
    grid-template-columns: repeat(2, fr);
    width: 50%;
    margin: 0.1rem 1rem;
    padding: 0.5rem;
}

