@media only screen and (min-width: 64em) {

    h1, h2 ,h3 ,h4 ,h5 ,h6 , p {
        color: #000;
    }

    p {
        font-size: 1.2rem;
    }
    
    header .header__logo img {
        height: 110px;
        width: 110px;
    }
    
    #hamburger-button {
        display: none;
    }

    .title {
        font-size: 1.1rem;
        color: #ffffff;
    }
    
    header {
        width: 100%;
        max-height: 210px;
        display: grid;
        grid-template-columns: repeat(2 , 1fr);
        grid-template-rows: repeat(2 ,1fr);
        box-shadow: 1px 4px 6px 0px rgba(0,0,0,0.38);
        
    }
    .header__date {
        display: flex;
        justify-content: center;
        gap: 1.2rem;
        padding-bottom: 1rem;
    }

    .icons {
        width: 2rem;
        height: 2rem;
    }

    /* NAVIGATION */
    #primaryNav {
        display: flex;
    }

    nav {
        width: 80%;
        height: 20%;
        margin: 0 auto;
        padding: 50px 0;
    }
    nav ul li {
        display: inline-block;
    }
    nav ul li a {
        display: block;
        font-size: 1.2rem;
        padding: 15px;
        text-decoration: none;
        color: #fff;
        margin: 0 10px;
        border: none;
    }
    nav ul li a,
    nav ul li a:after,
    nav ul li a:before {
        transition: all .5s;
    }
    nav ul li a:hover {
        color: #b35454;
    }
    
    /* stroke */
    nav.stroke ul li a {
        position: relative;
    }
    nav.stroke ul li a:after{
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        width: 0%;
        content: '.';
        color: transparent;
        background: #aaa;
        height: 1px;
    }
    nav.stroke ul li a:hover:after {
        width: 70%;
    }
    

    header .header__date {
        grid-column: 1 / 3;
        text-align: center;
        height: .6rem;
    }

    .first_main {
        max-width: 1240px;
        max-height: 900px;
        display: grid;
        grid-template-columns: 25% 30% 20%;
        gap: 1.5rem;
        row-gap: 0;
        margin: 0 auto;
        margin-bottom: 10rem;
    }
    .first_main p {
        font-size: 1.1rem;
    }
    
    .hero {
        max-width: 600px;
        height: 700px;
        margin-left: 1rem;
        grid-column: 2 / 4;
        grid-row: 1 / 3;
    }

    .hero .hero_imagen img {
        max-width: 600px;
        height: 700px;
    }
    .hero__content {
        height: 600px;
        position: absolute;
        top: 5%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .hero__content h3 {
        font-size: 2.2rem;
        position: absolute;
        left: 5%;
        text-shadow: 0px 5px 5px rgba(0,0,0,0.6);
    }
    .hero__content button {
        max-width: 12rem;
        position: absolute;
        bottom: 5%;
        right: 5%;
    }
    .spotlight__container div:nth-child(3){
        display: flex;
        flex-direction: column;
        align-items: center;
        
    }
    .spotlight__container {
        max-width: 20rem;
        height: 60rem;
        display: grid;
        grid-template-columns: repeat(1 , 1fr);
        grid-column: 4 / 5;
        grid-row-start: 1;
        grid-row-end: 4;
    }
    
    .spotlight img {
        width: 4rem;
        height: 4rem;
    }
    .spotlight {
        max-width: 100%;
        height: 15rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .spotlight__transport,
    .sportlight__codePrimera,
    .sportlight__treefort,
    .spotlight__info{
        max-width: 18rem;
        height: 10rem;
    }

    .event,
    .join,
    .weather {
        max-width: 21rem;
    }
    .sportlight__treefort {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .event {
        height: 16rem;
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row: 1 ;
    }
    .weather {
        max-height: 20rem;
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row: 2;
    }

    .join {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row: 3;
    }
    .join_us_a {
        color: #fff;
        text-decoration: none;
    }
    .join p {
        color: #000;
    }
    
    .news_release {
        grid-column:2 / 4;
        grid-row: 3;
    }

    /* ===== F O O T E R ===== */
    footer {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        background-color: #6D7993;
    }

    footer .footer__img {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    footer .footer__img img {
        width: 100px;
        height: 100px;
    }
    footer .footer__para__info {
        grid-column: 3/4;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border:  none;
    }
    footer .footer__project {
        grid-column: 2/3;
        grid-row: 1/2;
    }

    /** ========= SECOND PAGE - DISCOVER !!! ========== **/
    /** ========= SECOND PAGE - DISCOVER !!! ========== **/
    /** ========= SECOND PAGE - DISCOVER !!! ========== **/
    /** ========= SECOND PAGE - DISCOVER !!! ========== **/

    .wrapper-mobile {
        display: none;
    }

    .wrapper {
        max-width: 100%;
        max-height: 48rem;
        display: grid;
        grid-template-columns: 50% 50%;
        gap: 1rem;
        margin: 3rem 0 3rem 0;
        /**border: 1px solid red;**/
    }

    .cont_images {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }


    .info_images ul {
        width: auto;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        gap: 10px;
    }

    .info_images ul li {
        padding: 1rem;
        height: fit-content;
        list-style: none;
        border-bottom: 1px solid rgb(184, 183, 183);
        font-family: 'Raleway', sans-serif;
        font-size: 1.1rem;
        transition-duration: 0.3s;
    }
    .info_images ul li:hover {
        color: #fff;
        background-color: rgb(156, 156, 156);
    }

    .imagenes_2 {
        margin: 0 auto;
        max-width: 850px;
        max-height: 600px;
        padding: 2rem;
    }

    .changingImage {
        max-width: 100%;
        height: 100%;
        box-shadow: 2px 12px 15px -7px rgba(0,0,0,0.75);
        transition: .3s;
    }
    .changingImage:hover {
        transform: scale(1.03);
    }
    #second {
        display: none;
    }


    /** 
    *
    *
        ======== JOIN PAGE =========
        ======== JOIN PAGE =========
        ======== JOIN PAGE =========

    *
    *   
    **/

    .join-grid {
        max-width: 1240px;
        height: auto;
        margin: 2rem auto;
        display: grid;
        grid-template-columns: repeat(2 , 1fr);
        gap: 2rem;
    }

    .formulario legend {
        padding: .5rem;
        text-align: center;
        font-size: 1.5rem;
        color: #b35454;
    }
    .formulario label{
        font-size: 1.2rem;
        font-weight: 700;
        color: #b35454;
    }

    .names, .info {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .names input, .info input {
        width: 80%;
        margin-bottom: .5rem;
        margin-top: .5rem;
        padding: .4rem;
        background: transparent;
        outline: none;
        border: none;
        border-bottom: 1px solid black;
    }
    fieldset section {
        margin: 1rem;
        padding: 1rem;
    }

    #phone {
        grid-row: 4/5;
    }

    .form2 {
        display: grid;
        grid-template-columns: repeat(2 ,1fr);
    }

    .form2 label, input {
        padding: .5rem;
        margin: .5rem;
        font-size: 1.2rem;
    }
    .form3 {
        display: flex;
        justify-content: center;
    }
    
    #vip {
        display: grid;
        grid-template-columns: repeat(1 ,1fr);
        height: 100%;
    }

    .vip div {
        background-color: #b35454;
        height: 300px;
        padding: 1rem;
    }
    .vip div h3,
    .vip div li {
        color: #ffffff;
    }
    #vip ul li {
        margin: 1rem;
    }
    .button_suscribe {
        width: 100%;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: none;
    }

    .subscribe {
        width: 200px;
        padding: 1rem 0;
        background-color: #B35454;
        color: #ffffff;
        cursor: pointer;
        border: none;
        font-weight: bolder;
        transition: .3s;
    }
    .subscribe:hover {
        background-color: var(--opacity);
    }

    #non_profit {
        max-height: 180px;
    }
    #bronze {
        max-height: 200px;
    }

    #gold {
        height: 350px;
    }

    /**
    *
    *
    ============ Discovery PAGE ============

    *
    *
    **/

    .companies__wrapper {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .companies__grid {
        max-width: 70rem;
        margin: 0 auto;
        padding: 1rem;
        display: grid;
        grid-template-columns: repeat(3 , 1fr);
        gap: 2rem;
        
    }
    .companies__grid p {
        font-size: 1rem;
    }

    .companies__grid2 {
        max-width: 80rem;
        padding: 2rem;
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    .companies_list {
        max-width: 100%;
        display: grid;
        grid-template-columns: 10% 35% 10% 25%;
        align-content: center;
        gap: 5rem;
    }

    .companies_list h3 {
        font-size: 1.2rem;
    }
    .companies_list p, a {
        font-size: 1rem;
    }

    .companies_list:nth-child(even) {
        background-color: beige;
    }

    .company__div {
        width: 320px;
        height: 14rem;
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: 0px 12px 15px -7px rgba(0,0,0,0.75);
    }

    .company__div p {
        text-align: center;
        padding: .4rem;
    }

    .company__div a {
        font-size: 1rem;
        padding: 0.5rem;
    }

    .company__div img {
        width: 7rem;
        height: 4.5rem;
        margin-top: .4rem;
        margin-bottom: .4rem;
    }



    /**
    
    CONTACT US
    
    **/

    .contact_img {
        display: flex;
        justify-content: center;
        padding: 3rem;
    }

    
    .contact_img img {
        width: 25rem;
        height: auto;
    }

    .contact {
        width: max-content;
        display: grid;
        grid-template-columns: repeat(2 , 1fr);
        align-content: center;
        margin: 3rem auto;
        gap: 4rem;

       
    }
    
    .contact__form{
        width: 400px;
        height: 550px;
        background: #e6e6e6;
        border-radius: 8px;
        box-shadow: 0 0 40px -10px #000;
        padding: 20px 30px;
        box-sizing: border-box;
        position: relative;
    }

    .contact__form h2{
        margin: 10px 0;
        padding-bottom: 10px;
        width: 180px;
        color: #B35454;
        border-bottom: 3px solid #78788c
    }
    .contact__form input{
        width:100%;
        padding:10px;
        box-sizing:border-box;
        background:none;
        outline:none;
        resize:none;
        border:0;
        font-family:'Montserrat',sans-serif;
        transition:all .3s;
        border-bottom:2px solid #bebed2
    }
    .contact__form input:focus{
        border-bottom:2px solid #78788c
    }
    .contact__form p:before{
        display:block;
        margin: 28px 0 0;
        font-size: 14px;
        color:#B35454;
    }
    .contact__form button{
        float:right;
        padding:8px 12px;
        margin:8px 0 0;
        font-family:'Montserrat',sans-serif;
        border:2px solid #78788c;
        background:0;
        color:#5a5a6e;
        cursor:pointer;
        transition:all .3s
    }
    .contact__form button:hover{
        background:#B35454;
        color:#fff
    }
    .contact__form div{
        content:'Hi';
        position:absolute;
        bottom:-40px;
        right:10%;
        background:#50505a;
        color:#fff;
        width:320px;
        height: 70px;
        padding:16px 4px 16px 0;
        border-radius:6px;
        font-size:13px;
        box-shadow:10px 10px 40px -14px #000
    }
    .contact__form span{
        margin:0 5px 0 15px
    }
    .contact__us {
        height: 600px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: flex-start;
    }
    .contact__us h2 {
        margin: 10px 0;
        padding-bottom: 10px;
        width: 180px;
        color: #B35454;;
        border-bottom: 3px solid #78788c
    }
    .contact__us h6 {
        color: #B35454;
        font-size: 1.3rem;
    }
    iframe {
        width: 100%;
        grid-column-start: 1;
        grid-column-end: 3;
    }

}

