@media only screen and (min-width: 64em) {

    h1, h2 ,h3 ,h4 ,h5 ,h6 , p {
        color: #000;
    }

    p {
        font-size: 1.2rem;
    }
    
    header .header__logo img {
        height: 100px;
        width: 100px;
    }
    
    #hamburger-button {
        display: none;
    }

    .header__hamburger {

    }
    .title {
        font-size: 1.1rem;
        color: var(--color2);
    }
    
    header {
        display: grid;
        grid-template-columns: repeat(2 , 1fr);
        box-shadow: 1px 4px 6px 0px rgba(0,0,0,0.38);
        
    }
    .header__date {
        height: 1rem;
        display: flex;
        justify-content: center;
        gap: 1.2rem;
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
    }

    /* NAVIGATION */
    #primaryNav {
        display: flex;
    }

    nav {
        width: 80%;
        height: 20%;
        margin: 0 auto;
        padding: 50px 0;
    }
    nav ul li {
        display: inline-block;
    }
    nav ul li a {
        display: block;
        padding: 15px;
        text-decoration: none;
        color: #fff;
        margin: 0 10px;
        border: none;
    }
    nav ul li a,
    nav ul li a:after,
    nav ul li a:before {
        transition: all .5s;
    }
    nav ul li a:hover {
        color: rgb(179, 84, 84);
    }
    
    /* stroke */
    nav.stroke ul li a {
        position: relative;
    }
    nav.stroke ul li a:after{
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        width: 0%;
        content: '.';
        color: transparent;
        background: #aaa;
        height: 1px;
    }
    nav.stroke ul li a:hover:after {
        width: 70%;
    }
    
    .icons_nav {
        padding: 50px;
        display: flex;
        justify-content: space-between;
    }
    .icons_nav img {
        margin: 10px;
    }

    header .header__date {
        grid-column: 1 / 3;
        text-align: center;
        height: .6rem;
    }

    .first_main {
        max-width: 80%;
        max-height: 50rem;
        display: grid;
        grid-template-columns: 20% 35% 20%;
        gap: 2rem;
        margin: 0 auto;
        margin-bottom: 20rem;
    }
    
    .hero {
        width: auto;
        height: auto;
        margin-left: 1rem;
        grid-column: 2 / 4;
        grid-row: 1 / 3;
    }

    .hero_imagen img {
        max-width: 100%;
        max-height: auto;
    }


    .hero__content {
        height: 600px;
        position: absolute;
        top: 5%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .hero__content h3 {
        font-size: 2.2rem;
        position: absolute;
        left: 5%;
        text-shadow: 0px 5px 5px rgba(0,0,0,0.6);
    }
    .hero__content button {
        max-width: 12rem;
        position: absolute;
        bottom: 5%;
        right: 5%;
    }
    .spotlight__container div:nth-child(3){
        display: flex;
        flex-direction: column;
        align-items: center;
        
    }
    
    .spotlight__container {
        max-width: 22rem;
        height: 60rem;
        display: grid;
        grid-template-columns: repeat(1 , 1fr);
        grid-column: 4 / 5;
        grid-row-start: 1;
        grid-row-end: 4;
    }
    
    .spotlight img {
        height: 5rem;
    }
    .spotlight {
        max-width: 100%;
        height: 15rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .spotlight__transport,
    .sportlight__codePrimera,
    .sportlight__treefort,
    .spotlight__info{
        max-width: 18rem;
        height: 10rem;
    }

    .event,
    .join,
    .weather {
        max-width: 20rem;
    }
    .sportlight__treefort {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .event {
        height: 17rem;
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row: 1 ;
    }
    .weather {
        max-height: 22rem;
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row: 2;
    }
   
    .join {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row: 3;
    }
    .join p {
        color: #000;
    }
    
    .news_release {
        grid-column:2 / 4;
        grid-row: 3;
    }

    /* ===== F O O T E R ===== */
    footer {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        justify-content: center;
    }

    footer .footer__img {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    footer .footer__para__info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border:  none;
    }

    /** ========= SECOND PAGE - DISCOVER !!! ========== **/
    /** ========= SECOND PAGE - DISCOVER !!! ========== **/
    /** ========= SECOND PAGE - DISCOVER !!! ========== **/
    /** ========= SECOND PAGE - DISCOVER !!! ========== **/

    .wrapper-mobile {
        display: none;
    }

    .wrapper {
        max-width: 100%;
        max-height: 48rem;
        display: grid;
        grid-template-columns: 50% 50%;
        gap: 1rem;
        margin: 3rem 0 3rem 0;
        /**border: 1px solid red;**/
    }

    .cont_images {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }


    .info_images ul {
        width: auto;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        gap: 10px;
    }

    .info_images ul li {
        padding: 1rem;
        height: fit-content;
        list-style: none;
        border-bottom: 1px solid rgb(184, 183, 183);
        font-family: 'Raleway', sans-serif;
        font-size: 1.1rem;
        transition-duration: 0.3s;
    }
    .info_images ul li:hover {
        color: #fff;
        background-color: rgb(156, 156, 156);
    }

    .imagenes_2 {
        margin: 0 auto;
        max-width: 850px;
        max-height: 600px;
        padding: 2rem;
    }

    .changingImage {
        max-width: 100%;
        height: 100%;
        box-shadow: 2px 12px 15px -7px rgba(0,0,0,0.75);
        transition: .3s;
    }
    .changingImage:hover {
        transform: scale(1.03);
    }
    #second {
        display: none;
    }


    /** 
    *
    *
        ======== JOIN PAGE =========
        ======== JOIN PAGE =========
        ======== JOIN PAGE =========

    *
    *   
    **/

    .join-grid {
        width: 90%;
        margin: 2rem auto;
        display: grid;
        grid-template-columns: repeat(2 , 1fr);
        border: 1px solid black;
    }

    .formulario legend {
        padding: .5rem;
        text-align: center;
        font-size: 1.5rem;
    }

    .names, .info {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .names input, .info input {
        width: 80%;
        margin-bottom: .5rem;
        margin-top: .5rem;
        padding: .4rem;
        background: transparent;
        outline: none;
        border: none;
        border-bottom: 1px solid black;
    }
    fieldset section {
        margin: 1rem;
        padding: 1rem;
    }

    .form2 {
        display: grid;
        grid-template-columns: repeat(2 ,1fr);
    }

    .form2 label, input {
        padding: .5rem;
        margin: .5rem;
        font-size: 1.2rem;
    }
    .form3 {
        display: flex;
        justify-content: center;
    }
    
    #vip {
        display: grid;
        grid-template-columns: repeat(1 ,1fr);
        height: 100%;
    }

    #vip div {
        height: 270px;
        padding: 1rem;
    }
    #vip ul li {
        margin: 1rem;
    }

    /**
    *
    *
    ============ Discovery PAGE ============

    *
    *
    **/

    .companies__grid {
        margin: 0 auto;
        max-width: 100rem;
        padding: 1rem;
        display: grid;
        grid-template-columns: repeat(3 , 1fr);
        gap: 2rem;
        justify-items: center;
        align-content: center;
        
    }

    .companies__grid2 {
        margin: 0 auto;
        max-width: 100rem;
        padding: 2rem;
        display: flex;
        flex-direction: column;
        gap: 2rem;
        justify-items: center;
        align-content: center;
        
    }

    .companies_list {
        max-width: 100%;
        display: grid;
        grid-template-columns: 10% 35% 10% 25%;
        align-content: center;
        
        /*
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        */

        gap: 5rem;
    }
    .companies_list h3 {
        font-size: 1.6rem;
    }
    .companies_list p, a {
        font-size: 1.3rem;
    }

    .companies_list:nth-child(even) {
        background-color: beige;
    }

    .company__div {
        width: 430px;
        height: 14rem;
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: 0px 12px 15px -7px rgba(0,0,0,0.75);
    }

    .company__div p {
        text-align: center;
        padding: .4rem;
    }

    .company__div a {
        padding: 0.4rem;
    }

    .company__div img {
        width: 7rem;
        height: 4.5rem;
        margin-top: .4rem;
        margin-bottom: .4rem;
    }

}

