@media only screen and (min-width: 35rem) {
    header .header__logo img {
        width: 200px;
        height: 200px;
    }

    p {
        font-size: 1.1rem;
    }

    main {
        display: grid;
        grid-template-columns: 50% 50%;
    }
    main div {
        height: 200px;
    }
    .header__hamburger {
        width: 200px;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .icons{
        height: 1.8rem;
        margin: -10px;
    }
    
    .spotlight__container {
        height: 250px;
        display: grid;
        grid-template-columns: 50% 50%;
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row: 3;
    }

    .spotlight__container div:nth-child(3){
        display: none;
    }
    
    .hero {
        grid-column-start: 1;
        grid-column-end: 3;
    }
    
    .news_release {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row: 2;
    }

    .event {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row: 5;
    }
    .weather {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row: 5;
    }
    .join {
        display: block;
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row: 4;
        
    }

    footer {
        display: grid;
        grid-template-columns: repeat(2 , 1fr);
    }
    footer img {
        height: 200px;
        width: 200px;
    }

    .footer__project span {
        display: inline;
    }
    footer .footer__project {
        grid-column: 1/3;
        display: flex;
        justify-content: center;
        padding: 1rem;
    }
    

}
