@media only screen and (min-width: 35rem) {

    h1,h2,h3,h4,h5,h6,p {
        color: #000;
    }

    header .header__logo img {
        height: 100px;
        width: 100px;
    }

    p {
        font-size: 1.1rem;
    }

    main {
        display: grid;
        grid-template-columns: 50% 50%;
    }
    main div {
        height: 200px;
    }
    .header__hamburger {
        width: 200px;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    .title {
        font-size: .9rem;
        color: var(--color2);
    }

    .header__logo img {
        width: 110px;
        height: 110px;
    }

    .header__hamburger .icons{
        width: 2rem;
        height: 2rem;
        margin: -10px;
    }

    /** 
        ======== MAIN WRAPPER CHILDREN =========
    **/

    .first_main {
        width: 95%;
        margin: 0 auto;
    }

    /* === HERO === */
    .hero {
        width: 100%;
        height: 22rem;
    }

    .hero .hero_imagen img {
        width: 100%;
        height: 22rem;
    }
    .hero__content {
        height: 22rem;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        justify-items: center;
    }
    .hero__content button {
        height: 4rem;
        width: 9rem;
        padding: 0.5rem;
        grid-column: 2 / 3;
        grid-row: 2;
        cursor: pointer;
    }
    .hero__content h3 {
        font-size: 1.8rem;
    }

    /* === NEW RELEASE === */
    .news_release {
        height: 12rem;
    }

    /* === SPOTLIGHT === */
    .spotlight__container {
        height: 25rem;
        display: grid;
        grid-template-columns: 50% 50%;
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row: 3;
    }

    .spotlight__container div:nth-child(3){
        display: none;
    }

    /* === JOIN === */

    .join {
        background: var(--principalColor);
        display: block;
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row: 4;
    }  
    
    .join button {
        width: 100%;
        height: 3.1rem;
        background: var(--color1);
        color: var(--color2);
        border: none;
        border-radius: 1.3rem;
        box-shadow: 2px 12px 15px -7px rgba(0,0,0,0.75);
    }

    .join p {
        text-align: center;
        color: var(--color2);
        font-size: 1.2rem;
        margin-top: 2rem;
    }
    .join_us_a {
        color: #fff;
        text-decoration: none;
    }

    .hero {
        grid-column-start: 1;
        grid-column-end: 3;
    }
    
    .news_release {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row: 2;
    }

    .event {
        height: 24rem;
        justify-content: space-evenly;
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row: 5;
    }

    .weather {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row: 5;
    }
/** 
    ======= FOOTER =======
**/
    footer {
        display: grid;
        grid-template-columns: repeat(2 , 1fr);
    }
    footer img {
        height: 110px;
        width: 110px;
    }

    .footer__project span {
        display: inline;
    }
    footer .footer__project {
        grid-column: 1/3;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 1rem;
    }

    /* ======== SECOND PAGE - DISCOVER !!! ========== */

    .wrapper {
        display: none;
    }

    .mobile-card h3 {
        padding: .7rem;
        font-size: 1.7rem;
        text-align: center;
    }
    
    .mobile-card p {
        padding: .7rem;
        font-size: 1.3rem;
        text-align: center;
    }

    /** 
    *
    *

    ========= T H I R D  P A G E =========

    *
    *
    **/

    .join-grid {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(1 ,1fr);
        justify-items: center;
    }
    
    .names, .info {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        margin-bottom: 1rem;
    }
    .names label, input,
    .info label, input,
    .form2 label, input {
        padding: .3rem;
    }
    .form2 input {
        margin-left: 1rem;
    }
    #businesspo {
        grid-row: 2/3;
    }

    #phone {
        grid-row: 6/7;
    }

    #firstname {
        grid-row: 2/3;
    }

    .form2 {
        display: flex;
        flex-direction: column;
    }
    .form3 {
        display: flex;
        flex-direction: column;
    }

    .form3 textarea {
        width: 100%;
    }

    .vip {
        display: none;
    }

    /**
    *
    *
    ============ Discovery PAGE ============

    *
    *
    **/

    .companies__grid {
        width: 100%;
        padding: 1rem;
        display: grid;
        grid-template-columns: repeat(2 , 1fr);
        gap: 1.8rem;
        justify-items: center;
        
    }

    .company__div {
        width: 90%;
        height: 13rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        box-shadow: 0px 12px 15px -7px rgba(0,0,0,0.75);
    }

    .company__div p {
        text-align: center;
        padding: .4rem;
    }

    .company__div a {
        padding: 0.4rem;
    }

    .company__div img {
        width: 7rem;
        height: 4.5rem;
        margin-top: .4rem;
        margin-bottom: .4rem;
    }
    .companies_list:nth-child(even) {
        background-color: #fff;
    }

    .contact {
        width: max-content;
        display: grid;
        grid-template-columns: repeat(2 , 1fr);
        margin: 3rem auto;
        gap: 2rem;
       
    }
    
    .contact__form{
        width: 350px;
        height: 500px;
        background: #e6e6e6;
        border-radius: 8px;
        box-shadow: 0 0 40px -10px #000;
        padding: 20px 30px;
        box-sizing: border-box;
        position: relative;
    }

    .contact__form h2{
        margin: 10px 0;
        padding-bottom: 10px;
        width: 180px;
        color: #78788c;
        border-bottom: 3px solid #78788c
    }
    .contact__form input{
        width:100%;
        padding:10px;
        box-sizing:border-box;
        background:none;
        outline:none;
        resize:none;
        border:0;
        font-family:'Montserrat',sans-serif;
        transition:all .3s;
        border-bottom:2px solid #bebed2
    }
    .contact__form input:focus{
        border-bottom:2px solid #78788c
    }
    .contact__form p:before{
        content:attr(type);
        display:block;
        margin:28px 0 0;
        font-size:14px;
        color:#5a5a5a
    }
    .contact__form button{
        float:right;
        padding:8px 12px;
        margin:8px 0 0;
        font-family:'Montserrat',sans-serif;
        border:2px solid #78788c;
        background:0;
        color:#5a5a6e;
        cursor:pointer;
        transition:all .3s
    }
    .contact__form button:hover{
        background:#78788c;
        color:#fff
    }
    .contact__form div{
        content:'Hi';
        position:absolute;
        bottom:-40px;
        right:13px;
        background:#50505a;
        color:#fff;
        width:320px;
        height: 70px;
        padding:16px 4px 16px 0;
        border-radius:6px;
        font-size:13px;
        box-shadow:10px 10px 40px -14px #000
    }
    .contact__form span{
        margin:0 5px 0 15px
    }
    .contact__us {
        height: 600px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: flex-start;
    }
    .contact__us h2 {
        margin: 10px 0;
        padding-bottom: 10px;
        width: 180px;
        color: #78788c;
        border-bottom: 3px solid #78788c
    }
    .contact__us h6 {
        font-size: 1.3rem;
    }
    iframe {
        width: 100%;
        height: 400px;
        grid-column-start: 1;
        grid-column-end: 3;
    }

   
}