@media only screen and (min-width: 35rem) {

    h1,h2,h3,h4,h5,h6,p {
        color: #000;
    }

    header .header__logo img {
        width: 200px;
        height: 200px;
    }

    p {
        font-size: 1.1rem;
    }

    .first_main {
        display: grid;
        grid-template-columns: 50% 50%;
    }
    .first_main div {
        height: 200px;
    }
    .header__hamburger {
        width: 200px;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    .title {
        font-size: .9rem;
        color: var(--color2);
    }

    .icons{
        height: 1.8rem;
        margin: -10px;
    }

    /** 
        ======== MAIN WRAPPER CHILDREN =========
    **/

    /* === HERO === */
    .hero {
        height: 21rem;
    }
    .hero__content {
        height: 18rem;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        justify-items: center;
    }
    .hero__content button {
        height: 4rem;
        width: 9rem;
        padding: 0.5rem;
        grid-column: 2 / 3;
        grid-row: 2;
        cursor: pointer;
    }
    .hero__content h3 {
        font-size: 1.8rem;
    }

    /* === NEW RELEASE === */
    .news_release {
        height: 12rem;
    }

    /* === SPOTLIGHT === */
    .spotlight__container {
        height: 25rem;
        display: grid;
        grid-template-columns: 50% 50%;
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row: 3;
    }

    .spotlight__container div:nth-child(3){
        display: none;
    }

    /* === JOIN === */

    .join {
        background: var(--principalColor);
        display: block;
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row: 4;
    }  
    
    .join button {
        width: 100%;
        height: 3.1rem;
        background: var(--color1);
        color: var(--color2);
        border: none;
        border-radius: 1.3rem;
        box-shadow: 2px 12px 15px -7px rgba(0,0,0,0.75);
    }

    .join p {
        text-align: center;
        color: var(--color2);
        font-size: 1.2rem;
        margin-top: 2rem;
    }

    .hero {
        grid-column-start: 1;
        grid-column-end: 3;
    }
    
    .news_release {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row: 2;
    }

    .event {
        height: 24rem;
        justify-content: space-evenly;
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row: 5;
    }

    .weather {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row: 5;
    }
/** 
    ======= FOOTER =======
**/
    footer {
        display: grid;
        grid-template-columns: repeat(2 , 1fr);
    }
    footer img {
        height: 200px;
        width: 200px;
    }

    .footer__project span {
        display: inline;
    }
    footer .footer__project {
        grid-column: 1/3;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 1rem;
    }

    /* ======== SECOND PAGE - DISCOVER !!! ========== */

    .wrapper {
        display: none;
    }

    .mobile-card h3 {
        padding: .7rem;
        font-size: 1.7rem;
        text-align: center;
    }
    
    .mobile-card p {
        padding: .7rem;
        font-size: 1.3rem;
        text-align: center;
    }

    /** 
    *
    *

    ========= T H I R D  P A G E =========

    *
    *
    **/

    
    .names, .info {
        display: grid;
        grid-template-columns: repeat(1,fr);
        margin-bottom: 1rem;
    }
    .names label, input,
    .info label, input,
    .form2 label, input {
        padding: .3rem;
    }
    .form2 input {
        margin-left: 1rem;
    }
    #businesspo {
        grid-row: 2/3;
    }

    #phone {
        grid-row: 6/7;
    }

    #firstname {
        grid-row: 2/3;
    }

    .form2 {
        display: flex;
        flex-direction: column;
    }
    .form3 {
        display: flex;
        flex-direction: column;
    }

    .form3 textarea {
        width: 100%;
    }

    .vip {
        display: none;
    }

   
}