:root {
    /*
        Palette
    */
    --color1: #f4f1de;
    --color2: #e07a5f;
    --color3: #3d405b;
    --color4: #81b29a;
    --color5: #406AC6;


}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    background: #e7b45d;
}




@media only screen and (max-width: 34.9em){

    body {
        width: 100%;
    }

    .general__header {
        position: relative;
        width: 100%;
        min-height: 140px;
        background: var(--color1);
        display: grid;
        grid-template-columns: repeat(2 ,1fr);
        justify-items: center;
        align-items: center;
            
    }

    .logo img {
        width: 200px;
        margin: -2rem auto;
        padding: 1rem;
    }

    .portada img {
        width: 100%;
    }
    .hambuger {
        background-color: transparent;
        width: 2rem;
        height: 2rem;
        margin-left: 2.5rem;
        margin-bottom: 1rem;
        font-size: 2rem;
        border: transparent;
    }

    .small {
        position: fixed;
        top: 6.8rem;
        right: -100%;
        background: #3d405b;
        grid-column: 1/3;
        display: grid;
        grid-template-columns: repeat(1 , 1fr);
        width: 70%;
        height: 500px;
        transition: .7s;
        z-index: 1;
    }


    .navbar_icons {
        width: 70%;
        padding: 1rem;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
    }

    .home__social-icon i{
        font-size: 2.5rem;
        color: #406AC6;
    }

    .show {
        right: 0;
        bottom: 0;
    }
    #small_menu li{
        padding: 1rem;
        list-style: none;
    }

    #small_menu li a {
        position: relative;
        font-size: 1.2rem;
        text-decoration: none;
        color: aliceblue;
    }

    .active_link::after {
        position: absolute;
        content: '';
        width: 100%;
        height: 0.18rem;
        left: 0;
        top: 2rem;
        background-color: #406AC6
    }

    #small_menu li a:hover {
        position: relative;
    }

    #small_menu li a:hover::after {
        position: absolute;
        content: '';
        width: 100%;
        height: 0.18rem;
        left: 0;
        top: 2rem;
        background-color: #406AC6;
    }

    .portada {
        display: flex;
        justify-content: center;
        position: relative;
    }

    .portada__h1 {
        position: absolute;
        top: 20%;
        font-size: 1.3rem;
        background-color: rgba(0,0,0,0.50);
        color: #fff;
        padding: .3rem;
    }
    .portada__p {
        position: absolute;
        top: 60%;
        font-size: 1rem;
        background-color: rgba(0,0,0,0.50);
        color: #fff;
        padding: .2rem;
    }

    .sign_reservation {
        width: 100%;
        height: 160px;
        margin: 5rem auto;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        justify-items: center;
    }

    .sign_reservation h2 {
        font-size: 1.7rem;
        font-weight: lighter;
    }
    .sign_reservation button {
        background: #406AC6;
        width: 180px;
        height: 50px;
        font-weight: 700;
        text-transform: uppercase;
        color: #fff;
        cursor: pointer;
        border: none;
        outline: transparent;
        transition: .4s;
    }

    .sign_reservation button:hover {
        color: #406AC6;
        background: #fff;
        border: 1px solid #406AC6;
        border-radius: .4rem;
    }

    .home__main {
        background-color: var(--color1);
        width: 100%;
        height: auto;
        display: grid;
        grid-template-columns: repeat(1 , 1fr);
        justify-items: center;
        gap: 2rem;
        
    }

    .weather {
        background: rgb(2,0,36);
        background: linear-gradient(297deg, rgb(13, 9, 104) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
        width: 100%;
        height: 370px;
        padding: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        border-radius: 1rem;
    }

    .weather__description {
        display: grid;
        grid-template-columns: repeat(1 ,1fr);
        align-items: flex-end;
    }
    .weather__description p {
        text-align: center;
        color: #fff;
        font-size: 1.1rem;
        margin-bottom: .5rem;
    }
    #temperature{
        font-size: 3.5rem;
        color: #fff;
    }
    #description {
        margin-top: 2rem;
        color: #fff;
    }
    .widget {
        width: 13rem;
    }

    .home_section {
        width: 100%;
        height: 600px;
    }
    
    .home_section h2 {
        color: var(--color5);
    }

    .home_section h2,
    .home_section p,
    .home_section h3,
    .home_section li  {
        text-align: center;
        padding: .5rem;
    }

    .home_section li {
        list-style: circle;
    }

    footer {
        background: var(--color3);
        width: 100%;
        height: 150px;
        display: flex;
        justify-content: center;
    }

    footer img {
        width: 150px;
    }

    /*
    
    =========== SECOND PAGE =============
    
    
    */

    .temple_titule_page {
        text-align: center;
        margin: 2rem;
    }

    .temples_page {
        width: 100%;
        height: fit-content;
        display: grid;
        grid-template-columns: repeat(1 , 1fr);
        justify-items: start;
    }

    .temple_section {
        width: 100%;
        height: auto;
        margin: 0 auto;
        box-shadow: 1px 4px 6px 0px rgba(0,0,0,0.38);
    }

    .temple_section_2 {
        width: 100%;
        height: auto;
        margin: 0 auto;
        box-shadow: 1px 4px 6px 0px rgba(0,0,0,0.38);
        opacity: 1;
        transition: opacity .3s ease-in-out;
        
    }
    .temple_section h2{
        width: 100%;
        margin: 2rem auto;
        text-align: center;
        grid-column: 1/3;
        grid-row: 1/2;
    }

    .img_container {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: .5rem;
    }
    .temple_section_2 h2{
        width: 100%;
        margin: 2rem auto;
        text-align: center;
        grid-column: 1/3;
        grid-row: 1/2;
        
    }

    .info {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .info_2 {
        grid-column: 1/2;
    }

    .img_container img{
        max-width: 100%;
        
        
    }


    .information p,
    .information h3,
    .information ul,
    .information li  {
        padding: .1rem;
        margin: .2rem .7rem;
    
    }

    .page_buttons {
        width: 100%;
        height: 100px;
        display: flex;
        justify-content: center;
        margin: 2rem auto;
        gap: .5rem;
    }

    .page_buttons button {
        width: 40px;
        height: 40px;
        font-size: 1.2rem;
        outline: transparent;
        transition: .3s;
    }
    .page_buttons button:hover {
        background-color: var(--color5);
        color: #fff;
    }

    .close {
        display: none;
    }

    .fade {
        opacity: 0;
    }



/*
    
    =========== THIRD PAGE ==============
    

*/ 

    .reservation_container {
        position: relative;
        background-color: #fff;
        width: 100%;
        max-width: 100%;
        height: 970px;
        padding: 3rem;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        margin: 10rem auto;
        border-radius: 1rem;
    }

    .room_image {
        position: absolute;
        top: -120px;
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .room_image img {
        width: 250px;
    }

    .reservation_form {
        max-width: 100%;
        display: flex;
        flex-direction: column;
    }

    

    .name_div,
    .location_div,
    .date_div,
    .room_div,
    .email_div,
    .number_div,
    .country_div {
        max-width: 100%;
        height: 50px;
        margin-top: 2rem;
        display: flex;
    }

    .name_div {
        margin-top: 4rem;
    }

    .name_div label ,
    .location_div label ,
    .date_div label ,
    .room_div label ,
    .email_div label ,
    .number_div label ,
    .country_div label {
        width: 120px;
        max-width: 120px;
    }

    .comments_div {
        display: flex;
        flex-direction: column;
        margin-top: 2rem;
    }

    .reservation_form input,
    .reservation_form select {
        width: 180px;
        max-width: 200px;
        height: 35px;
        margin: 0 1rem;
    }

    .reservation_form option {
        max-width: 120px;
    }

    .button_div {
        width: 100%;
        display: flex;
        justify-content: center;
        margin-top: 3rem;

    }

    .button_div button {
        background: #e7b45d;
        width: 140px;
        height: 40px;
        font-size: 1rem;
        font-weight: 700;
        color: #fff;
        border: none;
        transition: .3s;
        cursor: pointer;
    }
    .button_div button:hover {
        color: rgb(231, 180, 93, 50);
        background: #fff;
        border: 1px solid #e7b45d;
    }
    
    #comments {
        width: 90%;
        padding: .5rem;
        
    }

    /*
    
    ========= SERVICES ==========
    
    
    */

    .dropmenu {
        position: relative;
    }

    .tiny_menu {
        background: var(--color1);
        position: absolute;
        top: 115px;
    }

    .hide {
        display: none;
    }
    .services_container {
        width: 80%;
        height: auto;
        margin: 3rem auto;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .specialize_services {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        align-content: center;
        justify-items: center;
        gap: 2rem;
    }

    .big_service img {
        width: 40px;
    }

    .big_service {
        background: #fff;
        width: 250px;
        height: 200px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        padding: 1rem;
        border-radius: 1rem;
        box-shadow: 1px 4px 6px 0px rgba(0,0,0,0.38);
        transition: .3s;
    }
    .big_service:hover {
        transform: translateY(-10px)
    }
    .big_service p {
        text-align: center;
    }

    .services_tittle {
        margin-top: 2rem;
        text-align: center;
    }
    
    .sign_reservation2 {
        width: 90%;
        padding: 1rem;
        background: #fff;
    }

    .sign_reservation2 {
        width: 100%;
        background: #fff;
    }

    .services_container2 {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 500px;
        margin-top: 1rem;
    }

    .free_services {
        width: 100%;
        height: auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        margin: 0 0 0 4rem;
        gap: 1rem;
    }
    .small_services {
        width: 150px;
    }

    .small_services img {
        width: 70px;
    }
    
    .small_services p {
        text-align:start;
    }

    .small_services img:hover p {
        color: beige;
    }

    /*
    
    ====== RECEPTION PAGE ==========
    
    */

    .reception {
        width: 100%;
        height: auto;
        margin: 4rem 1rem;
    }

    .wedding_pictures {
        width: 90%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2rem;
    }

    .reception picture img {
        width: 100%;
        box-shadow: 1px 4px 6px 0px rgba(0,0,0,0.38);
    }

    .reception h1 {
        margin: 1rem 0;
    }

    .reception h3 {
        margin-top: 1rem;
    }

    .reception p {
        width: 90%;
        font-size: 1rem;
        margin: 1rem 0;
    }

    .reception ul li {
        margin-left: 1rem;
        padding: .3rem;
    }

        /*
    
    FULL TIME TEMPLE MISSIONARIES PAGE

    */

    .suits_contact {
        margin-top: 1rem;
        width: 100%;
        height: 550px;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        align-content: center;
        justify-items: center;
    }

    .suits {
        width: 90%;
        background: #fff;
        display: grid;
        grid-template-columns: repeat(1 , 1fr);
        justify-items: center;
        border: 1px var(--color3) solid;
    }
    .suits p {
        width: 280px;
        max-width: 280px;
        padding: .3rem;
        font-size: 1.1rem;
        text-align: center;
    }

    .suits picture {
        width: 100%;
        grid-row: 1/3;
    }

    .suits picture img {
        width: 100%;
        height: 100%;
    }

    .suits_buttons {
        width: 100%;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 1rem;
    }

    .suits_buttons button {
        background: #e7b45d;
        color: #fff;
        padding: .5rem;
        border: none;
        transition: .3s;
        cursor: pointer;
        
    }
    .suits_buttons button:hover {
        color: rgb(231, 180, 93, 50);
        background: #fff;
        border: 1px solid #e7b45d;
        
    }

    .suit_options {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: .5rem;
        gap: 1rem;
    }

    .container {
        max-width: 350px;
        width: 100%;
        margin: 0 auto;
        position: relative;
      }
      
      #contact input[type="text"],
      #contact input[type="email"],
      #contact input[type="tel"],
      #contact input[type="url"],
      #contact textarea,
      #contact button[type="submit"] {
        font: 400 12px/16px "Roboto", Helvetica, Arial, sans-serif;
      }
      
      #contact {
        background: #F9F9F9;
        padding: 25px;
        margin: 30px 0;
        box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
      }
      
      #contact h3 {
        display: block;
        font-size: 30px;
        font-weight: 300;
        margin-bottom: 10px;
      }
      
      #contact h4 {
        margin: 5px 0 15px;
        display: block;
        font-size: 13px;
        font-weight: 400;
      }
      
      .field_contact {
        border: medium none;
        margin: 0 0 10px;
        min-width: 100%;
        padding: 0;
        width: 100%;
      }
      
      #contact input[type="text"],
      #contact input[type="email"],
      #contact input[type="tel"],
      #contact input[type="url"],
      #contact textarea {
        width: 100%;
        border: 1px solid #ccc;
        background: #FFF;
        margin: 0 0 5px;
        padding: 10px;
      }
      
      #contact input[type="text"]:hover,
      #contact input[type="email"]:hover,
      #contact input[type="tel"]:hover,
      #contact input[type="url"]:hover,
      #contact textarea:hover {
        transition: border-color 0.3s ease-in-out;
        border: 1px solid #aaa;
      }
      
      #contact textarea {
        height: 100px;
        max-width: 100%;
        resize: none;
      }
      
      #contact button[type="submit"] {
        cursor: pointer;
        width: 100%;
        border: none;
        background: #e7b45d;
        color: #FFF;
        margin: 0 0 5px;
        padding: 10px;
        font-size: 15px;
      }
      
      #contact button[type="submit"]:hover {
        background: #c59748;
        transition: background-color 0.3s ease-in-out;
      }
      
      #contact button[type="submit"]:active {
        box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
      }
      
      .copyright {
        text-align: center;
      }
      
      #contact input:focus,
      #contact textarea:focus {
        outline: 0;
        border: 1px solid #aaa;
      }


}