:root {
    /*
        Palette
    */
    --color1: #f4f1de;
    --color2: #e07a5f;
    --color3: #3d405b;
    --color4: #81b29a;
    --color5: #f2cc8f;


}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}