:root {
    /*
        Palette
    */
    --color1: #f4f1de;
    --color2: #e07a5f;
    --color3: #3d405b;
    --color4: #81b29a;
    --color5: #406AC6;


}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}




@media only screen and (max-width: 767px){

    .general__header {
        position: relative;
        width: 100%;
        min-height: 140px;
        background: var(--color1);
        display: grid;
        grid-template-columns: repeat(2 ,1fr);
        justify-items: center;
        align-items: center;
            
    }

    .logo img {
        width: 200px;
        margin: -2rem auto;
        padding: 1rem;
    }

    .portada img {
        width: 100%;
    }
    .hambuger {
        background-color: transparent;
        width: 2rem;
        height: 2rem;
        margin-left: 2.5rem;
        margin-bottom: 1rem;
        font-size: 2rem;
        border: transparent;
    }

    .small {
        position: fixed;
        top: 6.8rem;
        right: -100%;
        background: #3d405b;
        grid-column: 1/3;
        display: grid;
        grid-template-columns: repeat(1 , 1fr);
        width: 70%;
        height: 500px;
        transition: .7s;
        z-index: 1;
    }


    .navbar_icons {
        width: 70%;
        padding: 1rem;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
    }

    .home__social-icon i{
        font-size: 2.5rem;
        color: #406AC6;
    }

    .show {
        right: 0;
        bottom: 0;
    }
    #small_menu li{
        padding: 1rem;
        list-style: none;
    }

    #small_menu li a {
        position: relative;
        font-size: 1.2rem;
        text-decoration: none;
        color: aliceblue;
    }

    .active_link::after {
        position: absolute;
        content: '';
        width: 100%;
        height: 0.18rem;
        left: 0;
        top: 2rem;
        background-color: #406AC6
    }

    #small_menu li a:hover {
        position: relative;
    }

    #small_menu li a:hover::after {
        position: absolute;
        content: '';
        width: 100%;
        height: 0.18rem;
        left: 0;
        top: 2rem;
        background-color: #406AC6;
    }

    .portada {
        display: flex;
        justify-content: center;
        position: relative;
    }

    .portada__h1 {
        position: absolute;
        top: 20%;
        font-size: 1.3rem;
        background-color: rgba(0,0,0,0.50);
        color: #fff;
        padding: .3rem;
    }
    .portada__p {
        position: absolute;
        top: 60%;
        font-size: 1rem;
        background-color: rgba(0,0,0,0.50);
        color: #fff;
        padding: .2rem;
    }

    .sign_reservation {
        width: 100%;
        height: 160px;
        margin: 5rem auto;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        justify-items: center;
    }

    .sign_reservation h2 {
        font-size: 1.7rem;
        font-weight: lighter;
    }
    .sign_reservation button {
        background: #406AC6;
        width: 180px;
        height: 50px;
        font-weight: 700;
        text-transform: uppercase;
        color: #fff;
        cursor: pointer;
        border: none;
        outline: transparent;
        transition: .4s;
    }

    .sign_reservation button:hover {
        color: #406AC6;
        background: #fff;
        border: 1px solid #406AC6;
        border-radius: .4rem;
    }

    .home__main {
        background-color: var(--color1);
        width: 100%;
        height: 500px;
        display: grid;
        grid-template-columns: repeat(1 , 1fr);
        justify-items: center;
        
    }

    .weather {
        background: rgb(2,0,36);
        background: linear-gradient(297deg, rgb(13, 9, 104) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
        width: 100%;
        height: 370px;
        padding: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        border-radius: 1rem;
    }

    .weather h3 {
        font-size: 2rem;
    }
    .weather__description {
        display: grid;
        grid-template-columns: repeat(1 ,1fr);
        align-items: flex-end;
    }
    .weather__description p {
        text-align: center;
        color: #fff;
        font-size: 1.4rem;
        margin-bottom: .5rem;
    }
    #temperature{
        font-size: 3.5rem;
        color: #fff;
    }
    #description {
        margin-top: 2rem;
        color: #fff;
    }
    .widget {
        width: 13rem;
    }


}