@media only screen and (min-width: 90em){
    
    .hamburguer{
        display: none;
    }

    .general__header {
        background: var(--color1);
        max-width: 100%;
        max-height: 170px;
        display: grid;
        align-items: center;
        justify-items: center;
        grid-template-columns: repeat(1 ,1fr);
        grid-template-rows: 60% 40%;
        box-shadow: 1px 4px 6px 0px rgba(0,0,0,0.38);
        
    }

    .general__header .logo img {
        width: 250px;
        height: 250px;
    } 

    .navbar_icons {
        display: none;
    }
    nav {
        display: flex;
        justify-content: center;
        width: 90%;
        height: 30%;
        margin-bottom: 1.5rem;
        
    }
    nav ul li {
        display: inline-block;
    }
    nav ul li a {
        display: block;
        font-size: 1.4rem;
        padding: 13px;
        text-decoration: none;
        color: var(--color3);
        margin: 0 10px;
        border: none;
    }
    nav ul li a,
    nav ul li a:after,
    nav ul li a:before {
        transition: all .5s;
    }
    nav ul li a:hover {
        color: #406AC6;
    }
    
    /* stroke */
    nav.stroke ul li a {
        position: relative;
    }
    nav.stroke ul li a:after{
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        width: 0%;
        content: '.';
        color: transparent;
        background: #406AC6;
        height: 1px;
    }
    nav.stroke ul li a:hover:after {
        width: 70%;
    }

    /* IMAGEN PRINCIPAL*/

    .portada {
        position: relative;
        display: flex;
        justify-content: center;
    }

    .portada img {
        width: 100%;

    }
    
    .portada__h1 {
        position: absolute;
        top: 40%;
        background-color: rgba(0,0,0,0.50);
        color: #fff;
        font-size: 3rem;
        padding: 1rem;
        
    }

    .portada__p {
        position: absolute;
        top: 60%;
        background-color: rgba(0,0,0,0.50);
        color: #fff;
        font-size: 1.2rem;
        padding: 0.5rem;
    }
    .sign_reservation {
        width: 70%;
        height: 180px;
        margin: 0 auto;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
        align-content: center;
    }

    .sign_reservation h2 {
        font-size: 2.5rem;
        font-weight: lighter;
    }
    .sign_reservation button {
        background: #406AC6;
        width: 220px;
        padding: 1.1rem;
        font-weight: 900;
        text-transform: uppercase;
        color: #fff;
        cursor: pointer;
        border: none;
        outline: transparent;
        transition: .4s;
    }
    .sign_reservation button a {
        color: #fff;
    }

    .sign_reservation button:hover {
        background: #2f4f94;
        border-radius: .4rem;
    }

    .contact_button button {
        width: 100px;
        height: 50px;
    }

    .contact_button a {
        color: #2f4f94;
    }

    .home__main {
        background-color: var(--color1);
        width: 100%;
        height: 900px;
        margin: 0 auto;
        display: grid;
        grid-template-columns: repeat(2 , 1fr);
        
    }

    .weather {
        background: rgb(2,0,36);
        background: linear-gradient(297deg, rgb(98, 92, 212) 0%, rgb(125, 125, 230) 35%, rgba(0,212,255,1) 100%);
        width: 100%;
        height: 500px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        margin-left: 1rem;
        border-radius: 1rem;
        transition: .3s;
    }

    .weather_card {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        border: 1px solid #fff;
        width: 100%;
        height: 500px;
    }

    .weather:hover {
        transform: scale(1.1);
    }

    .widget_containerr {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .widget_containerr p {
        font-size: 1.3rem;
    }

    .widget {
        width: 200px;
    }

    .bs_temple {
        display: block;
        width: 90%;
    }

    .home_section h2 {
        color: var(--color5);
    }

    .home_section h2, .home_section p {
        text-align: center;
        margin: .5rem;
    }


    footer {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        background: var(--color3);
        width: 100%;
        height: 150px;
    }

    footer a {
        text-decoration: none;
        color: #fff;
    }
    .social_media a {
        font-size: 2.5rem;
        padding: 1rem;
    }


    footer img {
        top: 0;
        width: 150px;
    }

    /*
    
    ======== SECOND PAGE ==========

    */

    .temple_titule_page {
        text-align: center;
        margin: 2rem;
    }

    .temples_page {
        width: 100%;
        height: fit-content;
        display: grid;
        grid-template-columns: repeat(1 , 1fr);
        justify-items: start;
    }

    .temple_section {
        width: 70%;
        height: auto;
        margin: 0 auto;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-content: center;
        box-shadow: 1px 4px 6px 0px rgba(0,0,0,0.38);
        opacity: 1;
        transition: opacity .3s ease-in-out;
        
    }

    .temple_section_2 {
        width: 70%;
        height: auto;
        margin: 0 auto;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-content: center;
        box-shadow: 1px 4px 6px 0px rgba(0,0,0,0.38);
        opacity: 1;
        transition: opacity .3s ease-in-out;
        
    }
    .temple_section h2{
        width: 100%;
        margin: 2rem auto;
        text-align: center;
        grid-column: 1/3;
        grid-row: 1/2;
    }

    .img_container {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;
    }
    .temple_section_2 h2{
        width: 100%;
        margin: 2rem auto;
        text-align: center;
        grid-column: 1/3;
        grid-row: 1/2;
        
    }

    .picture_container {
        grid-column: 2/3;
        grid-row: 2/3;
    }
    
    .info {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .info_2 {
        grid-column: 1/2;
    }

    .img_container img{
        width: 550px;
        height: 350px;
        
    }


    .information p,
    .information h3,
    .information ul,
    .information li  {
        padding: .3rem;
        margin: .2rem 1rem;
    
    }

    .page_buttons {
        width: 100%;
        height: 100px;
        display: flex;
        justify-content: center;
        margin: 2rem auto;
        gap: .5rem;
    }

    .page_buttons button {
        width: 40px;
        height: 40px;
        font-size: 1.2rem;
        outline: transparent;
        transition: .3s;
    }
    .page_buttons button:hover {
        background-color: var(--color5);
        color: #fff;
    }

    .close {
        display: none;
    }

    .fade {
        opacity: 0;
    }


    /*
    
    =========== THIRD PAGE ==============
    
    */


    .reservation_container {
        position: static;
        background-color: #fff;
        max-width: 60%;
        height: 600px;
        display: grid;
        grid-template-columns: 30% 70%;
        margin: 7rem auto;
        padding: 0;
        border-radius: 1rem;
    }

    .room_image {
        position: static;
        display: flex;
        justify-content: center;
        align-items: center;
        grid-column: 1/2;
        width: 100%;
    }
    .room_image img {
        width: 180%;
        max-width: 180%;
        margin: 0 auto;
    }

    .reservation_form {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        justify-items: center;
    }

    .name_div,
    .location_div,
    .date_div,
    .room_div,
    .email_div,
    .number_div,
    .country_div {
        max-width: 400px;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0;
    }
    .name_div label ,
    .location_div label ,
    .date_div label ,
    .room_div label ,
    .email_div label ,
    .number_div label ,
    .country_div label {
        width: 120px;
        max-width: 120px;
    }

    .comments_div {
        display: flex;
        flex-direction: column;
    }

    .reservation_form input,
    .reservation_form select {
        max-width: 130px;
        height: 35px;
        margin: 0 2rem;
    }

    .reservation_form option {
        max-width: 120px;
    }

    .comments_div {
        grid-column: 1/3;
        grid-row: 5 / 6;
    }

    .button_div {
        width: 80%;
        display: flex;
        justify-content: start;

    }

    .button_div button {
        background: #e7b45d;
        width: 120px;
        height: 40px;
        font-size: 1rem;
        font-weight: 700;
        color: #fff;
        border: none;
        transition: .3s;
        cursor: pointer;
    }
    .button_div button:hover {
        color: rgb(231, 180, 93, 50);
        background: #fff;
        border: 1px solid #e7b45d;
    }
    
    /*
    
    ========= SERVICES ==========
    
    
    */

    .dropmenu {
        position: relative;
    }

    .tiny_menu {
        background: var(--color1);
        position: absolute;
        top: 115px;
        z-index: 1;
    }

    .hide {
        display: none;
    }
    .services_container {
        width: 100%;
        height: 900px;
        display: flex;
        justify-content: center;
    }

    .specialize_services {
        width: 70%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        align-content: center;
        justify-items: center;
        gap: 2rem;
    }

    .big_service img {
        width: 50px;
    }

    .big_service {
        background: #fff;
        width: 350px;
        height: 300px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        padding: 1rem;
        border-radius: 1rem;
        box-shadow: 1px 4px 6px 0px rgba(0,0,0,0.38);
        transition: .3s;
    }
    .big_service:hover {
        transform: translateY(-10px)
    }
    
    .big_service p {
        font-size: 1.2rem;
        text-align: center;
    }

    .services_tittle {
        margin-top: 2rem;
        text-align: center;
    }
    
    .sign_reservation2 {
        width: 100%;
        background: #fff;
    }

    .services_container2 {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 200px;
        margin-top: 3rem;
    }

    .free_services {
        display: flex;
        justify-content: space-around;
        width: 60%;
        margin: 0 auto;
    }
    .small_services {
        width: 120px;
        transition: .3s;
    }
    .small_services:hover {
        transform: translateY(-15px)
    }

    .small_services img {
        width: 70px;
    }
    
    .small_services p {
        text-align:start;
    }

    .small_services img:hover p {
        color: beige;
    }

    /*
    
    ====== RECEPTION PAGE ==========
    
    */

    .reception {
        width: 70%;
        height: auto;
        margin:5rem auto;
    }

    .wedding_pictures {
        width: 80%;
        display: flex;
        gap: 1rem;
    }

    .reception picture img {
        width: 100%;
        box-shadow: 1px 4px 6px 0px rgba(0,0,0,0.38);
    }

    .reception h1 {
        margin: 1rem 0;
    }

    .reception h3 {
        margin-top: 1rem;
    }

    .reception p {
        width: 60%;
        font-size: 1.1rem;
        margin: 1rem 0;
    }

    .reception ul li {
        margin-left: 1rem;
        padding: .3rem;
    }

    /*
    
    FULL TIME TEMPLE MISSIONARIES PAGE

    */

    .suits_contact {
        margin-top: 5rem;
        width: 100%;
        height: 500px;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        align-content: center;
        justify-items: center;
    }

    .suits {
        max-width: 65%;
        background: #fff;
        display: grid;
        grid-template-columns: 60% 40%;
        border: 1px var(--color3) solid;
    }
    .suits p {
        width: 400px;
        max-width: 400px;
        padding: .3rem;
        font-size: 1.3rem;
        text-align: center;
    }

    .suits picture {
        width: 100%;
        grid-row: 1/3;
    }

    .suits picture img {
        width: 100%;
        height: 100%;
    }

    .suits_buttons {
        width: 100%;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin-top: 1rem;
        gap: 1rem;
    }

    .suits_buttons button {
        background: #e7b45d;
        color: #333;
        font-weight: 600;
        padding: 1rem;
        border: none;
        transition: .3s;
        cursor: pointer;
        
    }
    .suits_buttons button:hover {
        color: rgb(231, 180, 93, 50);
        background: #fff;
        border: 1px solid #e7b45d;
        
    }

    .suit_options {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: .5rem;
        gap: 1rem;
    }

    .container {
        max-width: 500px;
        width: 100%;
        margin: 0 auto;
        position: relative;
      }
      
      #contact input[type="text"],
      #contact input[type="email"],
      #contact input[type="tel"],
      #contact input[type="url"],
      #contact textarea,
      #contact button[type="submit"] {
        font: 400 12px/16px "Roboto", Helvetica, Arial, sans-serif;
      }
      
      #contact {
        background: #F9F9F9;
        padding: 25px;
        margin: 50px 0;
        box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
      }
      
      #contact h3 {
        display: block;
        font-size: 30px;
        font-weight: 300;
        margin-bottom: 10px;
      }
      
      #contact h4 {
        margin: 5px 0 15px;
        display: block;
        font-size: 13px;
        font-weight: 400;
      }
      
      .field_contact {
        border: medium none;
        margin: 0 0 10px;
        min-width: 100%;
        padding: 0;
        width: 100%;
      }
      
      #contact input[type="text"],
      #contact input[type="email"],
      #contact input[type="tel"],
      #contact input[type="url"],
      #contact textarea {
        width: 100%;
        border: 1px solid #ccc;
        background: #FFF;
        margin: 0 0 5px;
        padding: 10px;
      }
      
      #contact input[type="text"]:hover,
      #contact input[type="email"]:hover,
      #contact input[type="tel"]:hover,
      #contact input[type="url"]:hover,
      #contact textarea:hover {
        transition: border-color 0.3s ease-in-out;
        border: 1px solid #aaa;
      }
      
      #contact textarea {
        height: 100px;
        max-width: 100%;
        resize: none;
      }
      
      #contact button[type="submit"] {
        cursor: pointer;
        width: 100%;
        border: none;
        background: #e7b45d;
        color: #FFF;
        margin: 0 0 5px;
        padding: 10px;
        font-size: 15px;
      }
      
      #contact button[type="submit"]:hover {
        background: #c59748;
        transition: background-color 0.3s ease-in-out;
      }
      
      #contact button[type="submit"]:active {
        box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
      }
      
      .copyright {
        text-align: center;
      }
      
      #contact input:focus,
      #contact textarea:focus {
        outline: 0;
        border: 1px solid #aaa;
      }

}