@media only screen and (min-width: 90em){
    
    .hamburguer{
        display: none;
    }

    .general__header {
        background: var(--color1);
        max-width: 100%;
        max-height: 170px;
        display: grid;
        align-items: center;
        justify-items: center;
        grid-template-columns: repeat(1 ,1fr);
        grid-template-rows: 60% 40%;
        box-shadow: 1px 4px 6px 0px rgba(0,0,0,0.38);
        
    }

    .general__header .logo img {
        width: 250px;
        height: 250px;
    } 

    .navbar_icons {
        display: none;
    }
    nav {
        display: flex;
        justify-content: center;
        width: 90%;
        height: 30%;
        margin-bottom: 1.5rem;
        
    }
    nav ul li {
        display: inline-block;
    }
    nav ul li a {
        display: block;
        font-size: 1.4rem;
        padding: 13px;
        text-decoration: none;
        color: var(--color3);
        margin: 0 10px;
        border: none;
    }
    nav ul li a,
    nav ul li a:after,
    nav ul li a:before {
        transition: all .5s;
    }
    nav ul li a:hover {
        color: #406AC6;
    }
    
    /* stroke */
    nav.stroke ul li a {
        position: relative;
    }
    nav.stroke ul li a:after{
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        width: 0%;
        content: '.';
        color: transparent;
        background: #406AC6;
        height: 1px;
    }
    nav.stroke ul li a:hover:after {
        width: 70%;
    }

    /* IMAGEN PRINCIPAL*/

    .portada {
        position: relative;
        display: flex;
        justify-content: center;
    }

    .portada img {
        width: 100%;

    }
    
    .portada__h1 {
        position: absolute;
        top: 40%;
        background-color: rgba(0,0,0,0.50);
        color: #fff;
        font-size: 3rem;
        padding: 1rem;
        
    }

    .portada__p {
        position: absolute;
        top: 60%;
        background-color: rgba(0,0,0,0.50);
        color: #fff;
        font-size: 1.2rem;
        padding: 0.5rem;
    }
    .sign_reservation {
        width: 70%;
        height: 180px;
        margin: 0 auto;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
        align-content: center;
    }

    .sign_reservation h2 {
        font-size: 2.5rem;
        font-weight: lighter;
    }
    .sign_reservation button {
        background: #406AC6;
        width: 220px;
        padding: 1.1rem;
        font-weight: 900;
        text-transform: uppercase;
        color: #fff;
        border: none;
        outline: transparent;
        transition: .4s;
    }

    .sign_reservation button:hover {
        color: #406AC6;
        background: #fff;
        border: 1px solid #406AC6;
        border-radius: .4rem;
    }
}